// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;

  font-style: normal;
  font-family: $text-font-stack;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;

  line-height: 1.6250;

  color: $text-color;
}


/*------------------------------------*\
  #IMAGES
\*------------------------------------*/

// Defines an image
img {
  // ..
}
